$myFont: 'Open Sans', sans-serif;
$colorFooter: #686de0;
$backgroundColorBorder: #fff;
$nameColor: #fff;
$border: hidden 2px black;
$myTextAlign: center;
$myFontWeight: bold;
$myBackgroundColor: #c3cfe2;
$socialWidth: 45px;